<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Here is a joke to brighten up your day</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Categories: <br />
        <div class="form-check-inline" *ngFor='let category of categoriesLIST'>
          <input class="form-check-input" type="checkbox" value="" id="{{category}}">
          <label class="form-check-label" for="flexCheckDefault">
            {{category}}
          </label>
        </div>
        
        <br />

        Blacklist: <br>
        <div class="form-check-inline" *ngFor='let blacklist of blackListFlagsLIST'>
          <input class="form-check-input" type="checkbox" value="" id="{{blacklist}}" >  <!-- [(ngModel)]= "typedTitle" -->
          <label class="form-check-label" for="flexCheckDefault">
            {{blacklist}}
          </label>
        </div>
        <div>
          Type: <br>
          <div class="form-check-inline">
            <!-- <input class="form-check-input" type="checkbox" value="" id="singleJoke">  <!-- [(ngModel)]= "typedTitle" 
            <label class="form-check-label" for="flexCheckDefault">
              single
            </label> -->
            <input class="form-check-input" type="checkbox" value="" id="twopartJoke">  <!-- [(ngModel)]= "typedTitle" -->
            <label class="form-check-label" for="flexCheckDefault">
              two part
            </label>
          </div>
        </div>
          <h6>{{joke}}</h6>
          <h6>{{setup}}</h6> <br />
          <h6>{{delivery}}</h6>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="callApi()">Get Joke</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>