<div class="notesBar row">       
        <div class="input-group col-8">
           
            <input type="text" class="form-control" placeholder="Title" [(ngModel)]= "typedTitle">
            <textarea type="text" class="form-control" placeholder="Content" [(ngModel)]= "typedContent"></textarea>
          </div>
          <div class="item col-4 btn-group-vertical">
            <button type="submit" (click) = "addNote()" class="button" class="btn btn-primary">Add Note</button>
            <button class="button" (click)="deleteNote()" class="btn btn-danger">Delete Note</button>
            <button class="button" (click)="editNote()" class="btn btn-success">Edit Note</button>
        </div> 

       
   </div> 
    <!-- CREATE COMPONENT FOR notesBoard -->
    <ol class="notesBoard">
        <li *ngFor="let note of notes" class="note">
            <h4>Title : {{note.title}}</h4> 

            <h4>Content: {{note.content}}</h4> 

            <h4>When: {{note.timestamp}} </h4>  
        </li>
    </ol>