<div class="notesBar row">       
        <div class="input-group col-8">
           
            <input type="text" class="form-control" placeholder="Title" [(ngModel)]= "typedTitle">
            <textarea type="text" class="form-control" placeholder="Content" [(ngModel)]= "typedContent"></textarea>
          </div>
          <div class="item col-4 btn-group-vertical">
            <button type="submit" (click) = "addNote()" class="button" class="btn btn-primary">Add Note</button>
            <button class="button" (click)="deleteNote()" class="btn btn-danger">Delete Note</button>
            <button class="button" (click)="editNote()" class="btn btn-success">Edit Note</button>
        </div> 

       
</div> 
    
<app-notes-board></app-notes-board>