<div class="row" id='{{note.title}}'>
    <div class="col-8" >
        <h4>Title : {{note.title}}</h4> 

        <h4>Content: {{note.content}}</h4> 
    
        <h4>When: {{note.timestamp | date:'medium'}} </h4>  
    </div>
  
    <!-- <div class="col-4 btn-group-vertical btn-block"> -->
    <button (click)="deleteNote()" class="btn btn-danger btn-md btn-block">DELETE</button>
    <button class="btn btn-success btn-md btn-block" (click)="editNote($event,note.title)">EDIT</button>
    <!-- </div> -->
</div>
